.listing-container{
  padding-left: 30px;
  padding-right: 30px;
  width: 55vw;
  min-height: 100vh;
  padding-top: 45px;
}

.search-bar-container{
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 25px;
  width: 53vw;
  height: 48px;
  box-shadow: rgba(0, 0, 255, 0.201) 0px 18px 90px -10px;
  margin-bottom: 20px;
  border-radius: 30px;
}

#search{
  outline: none;
  border: none;
  font-size: 17px;
  width: 100%;
  height: 48px;
  margin-left: 18px;
  border-radius: 30px;
}

.active-listing-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}

.active-listing-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  overflow-y: auto;
}

#see-all{
  cursor: pointer;
  font-size: 12px;
  color: grey;
}

/* card style */

.card{
  border-radius: 17px;
  box-shadow: rgba(0, 0, 255, 0.093) 3px 3px 30px;
  min-width: 198px;
  padding-bottom: 6px;
  flex: 1 0 calc(25% - 16px)̣;
  box-sizing: border-box;
}



.product-info{
  padding-right: 6px;
  padding-left: 6px;
}

#product-image{
  width: 100%;
}

.product-features{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes-views{
  font-size: 10px;
}

.like{
  margin-right: 10px;
  cursor: pointer;
}

.like .share {
  height: 16px;
}

.time-quantity{
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#time{
  padding: 3px;
  margin-top: 6px;
  border-radius: 4px;
  background: #654dff24;
  color:#664DFF;
}

#quantity{
  font-weight: 600px;
}

#product-name{
  font-size: medium;
  font-weight: 500;
  margin-top: 5px;
}

#current-bid{
  font-size: small;
  color: grey;
}

.value-save{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-bid-value{
  margin-top: 2px;
  font-size: medium;
  font-weight: 400;
  color: grey;
}

#product-save{
  height: 23px;
  width: 23px;
}

.button-container{
  display: flex;
  align-items: center;
  background-color: #9B9EA5;
  border-radius: 8px;
  margin-top: 6px;
}

.hammer{
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color:#ffffff40;
  margin: 5px;
  border-radius: 3px;
}

.button-text-aligner{
  margin-left: 30px;
  color: white;
}

#spacer{
  height: 25px;
}

/* responsivness code */

@media only screen and (min-width: 700px) and (max-width: 1137.60px) {
  .card{
    min-width: 198px;
  }

  .listing-container{
    width: 45vw;
  }

  .search-bar-container{
    width: 43vw;
  }
}
