<div class="listing-container">
  <div class="search-bar-container">
    <img src="assets/icons/search.svg" alt="">
    <input id="search" type="text" name="search" placeholder="Search here">
  </div>
  <div class="active-listing-heading">Active Listing
    <span id="see-all">
      See all >
    </span>
  </div>
  <div class="active-listing-container">

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>
  </div>

  <div id="spacer"></div>

  <div class="active-listing-heading">Upcoming Listing
    <span id="see-all">
      See all >
    </span>
  </div>
  <div class="active-listing-container">

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

    <div class="card">
      <img src="assets/icons/shoes.svg" alt="" id="product-image">
      <div class="product-info">
        <div class="product-features">
          <div class="like-share">
            <img src="assets/icons/like.svg" alt="" class="like">
            <img src="assets/icons/share.svg" alt="" class="share">
          </div>
          <div class="likes-views">
            45 likes &bull; 454 views
          </div>
        </div>
        <div class="time-quantity">
          <div id="time">0d: 5h: 30m: 25s</div>
          <div id="quantity">30bids</div>
        </div>
        <p id="product-name">Product Name</p>
        <p id="current-bid">Current Bid</p>
        <div class="value-save">
          <p class="current-bid-value">&#36; 875.00</p>
          <img src="assets/icons/save.svg" id="product-save">
        </div>
        <div class="button-container">
          <div class="hammer">
            <img src="assets/icons/small-hammer.svg" alt="">
          </div>
          <div class="button-text-aligner">Raise Bid</div>
        </div>
      </div>
    </div>

  </div>


</div>