<div class="sidebar-container">
  <div class="active-listing-heading">Active Listing
    <span id="see-all">
      See all >
    </span>
  </div>
  <div class="categoty-listing">
    <div class="category">
      <p class="category-image">
        <img src="assets/icons/star.svg" alt="">
      </p>
      <p class="category-name">Features</p>
    </div>
    <div class="category">
      <p class="category-image">
        <img src="assets/icons/dance.svg" alt="">
      </p>
      <p class="category-name">Dancer</p>
    </div>
    <div class="category">
      <p class="category-image">
        <img src="assets/icons/music.svg" alt="">
      </p>
      <p class="category-name">Musician</p>
    </div>
    <div class="category">
      <p class="category-image">
        <img src="assets/icons/movie.svg" alt="">
      </p>
      <p class="category-name">Movie Star</p>
    </div>
    <div class="category">
      <p class="category-image">
        <img src="assets/icons/tv.svg" alt="">
      </p>
      <p class="category-name">TV Star</p>
    </div>
  </div>

  <div class="active-listing-heading">Features Celebrities Listing
    <span id="see-all">
      See all >
    </span>
  </div>

  <div class="celebrity-container">
    <div class="celebrity-card">
      <img src="assets/icons/celebrity.svg" alt="">
      <p class="celebrity-name">Shahid Kapoor</p>
    </div>
    <div class="celebrity-card">
      <img src="assets/icons/celebrity.svg" alt="">
      <p class="celebrity-name">Shahid Kapoor</p>
    </div>
  </div>

</div>